body {
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url("img/contact-background.jpg") no-repeat center fixed;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 1rem;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.1);
    font-weight: bold;
}

#formulario {
    display: flex;
    justify-content: center; /* Alinea el formulario al centro */
}

form {
    padding: 2%;
    border-radius: 20px;
    max-width: 600px; /* Limita el ancho del formulario */
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Agrega sombra */
}

#nombre-completo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

label {
    font-size: 20px;
    line-height: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
}

textarea,
input[type="text"] {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #FFFFFF; 
    padding: 10px;
    border: 2px solid #FFFFFF; 
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    min-height: 100px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal; 
}

#botonForm {
    text-align: center;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #27AE60;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

input[type="submit"]:hover {
    background-color: #f2e2a8;
}

@media only screen and (max-width: 850px) {
    #nombre-completo{
        display: grid;
        grid-template-columns: 1fr;
    }

    label {
        font-size: 20px;
        line-height: normal;
    }
    
    .contactoFormulario{
        margin-left: 15px;
    }

    #formNombre,
    #formApellidos,
    #formCorreo,
    #formAsunto {
        width: 90%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    #formMensaje {
        width: 90%;
        max-width: 100%;
    }

    input[type="text"],
    input[type="submit"] {
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px)
{
    input[type="submit"]{
        width: 200px;
        height: 50px;
    }
}

@media (max-width: 742px) {
    form{
        margin-top: 15%;
    }
}