body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url("img/features-background.webp") no-repeat center fixed;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0; 
    align-items: stretch; 
}

main {
    margin-top: 110px;
}

h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 1rem;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.1);
    font-weight: bold;
}
 
.container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    width: 100%;  
    margin: 0 auto;  
}

.card{
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 900px;
    margin: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex-direction: column; 
    align-items: center;
}

.container img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    align-items: center;
}

.intro{
    height: 70px;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(2, 33, 118, 0.5);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.intro h2{
    font-size: 20px;
    margin: 0px 10px;
}

.intro p{
    font-size: 15px;
    padding: 10px;
    margin: 20px 10px 30px 0px;
    visibility: hidden;
}

.intro a{
    margin:0 10px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    padding: 10px;
    animation: none;
    transition: background-color 0.2s, color 0.2s, padding 0.2s, font-size 0.2s;
}

.intro a:hover{
    animation: blink 1s infinite alternate;
}

/* Video Section */
.about-the-product {
    padding-top: 10%;
    width: 100%;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    height: 150%;
}

iframe {
    width: 80%;
    height: 500px;
    border: none;
}

.title {
    align-items: center;
}

.about-the-product-title p{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}


@keyframes blink {
    0% {
        background-color: #092C4C;
        color:#91644D;
        font-size: 1.1rem;
    }
    100% {
        background-color: #002d94;
        padding: 10px;
        padding: 15px;
        font-size: 1.2rem;
    }
}


.card:hover{
    cursor: pointer;
}

.card:hover .intro {
    height: 160px;
    bottom: 0px;
    background: var(--primary-color);;
    transition: 0.5s;
}

.card:hover .intro p {
    visibility: visible;
    opacity: 1;
}

/*footer section*/
footer {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-primary-color);
    padding: 8px 13px;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0;
}

.social-icons li a i {
    font-size: 24px;
    color: var(--text-primary-color);
    transition: color 0.3s, transform 0.3s;
}

.social-icons li a:hover i {
    color: var(--secondary-color-second);
    transform: scale(1.2);
}

@media (max-width: 1350px){
    .video-container {
        width: 100%;
        height: 400px;
    }
    iframe {
        width: 80%;
        height: 400px;
    }
    .about-the-product-title p{
        padding: 0 10%;
        padding-bottom: 2%;
    }
}

@media (max-width: 745px){
    .title{
        margin-top: 15%;
    }
    
    .video-container {
        width: 100%;
        height: 100%;
    }
    iframe {
        width: 80%;
        height: 100%;
    }
}

@media(max-width: 600px){
    main {
        padding: 0 20px;
    }

    footer{
        display: flex;
        transition: flex-direction 0.5s ease;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px auto;
        gap: 15px; 
    }
}