*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

img{
    user-select: none;
}

:root{
    --primary-color: #1856c3;
    --secondary-color: #092C4C;
    --secondary-color-second: #f2ca37;
    --success-color: #136700;
    --success-color-second: #ffee00;
    --error-color: #F84343;
    --text-color: #062D3E;
    --text-primary-color: #ffffff;
    --text-secundary-color: #ffee00;
}

body{
    font-family: 'Inter', sans-serif; 
    min-height: 100vh;
    background-color:var(--secondary-color-second);
    color: color(--secondary-color);
    position:relative;
}


/**header css**/
header{
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 12%;
    transition: all .50s ease;
    background-color:var(--secondary-color);
    box-shadow: 0 0 5px #EBE3CC;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 5%;
}

.logo span{
    color: var(--text-primary-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar{
    display: flex;
    list-style-type: none;
}

.navbar a{
    color: var(--text-primary-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a[href="#home"] {
    color: var(--text-secundary-color);
    font-weight: bold;
}

.navbar a:hover{
    color: var(--text-secundary-color);
}

.navbar .nav-active{
    color: var(--text-secundary-color);
}

/*displayable menu*/
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu a{
    margin-right: 25px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    padding: 10px;
}

.user{
    background: var(--primary-color);
}

.menu a:hover{
    background-color: #d66e6c;
    box-shadow: 0px 0px 10px #d66e6c;
}

.menu .user:hover{
    background-color: var(--success-color-second);
}

#menu-icon{
    font-size: 35px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/*main section of the page*/

main{
    padding: 7rem 1rem;
}

/*section home--------------------------------*/
.home-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("img/fondo-home.jpg") no-repeat center fixed;
    background-size: cover;
    text-align: center;
}

.home-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-text h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-primary-color);
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.5);
}

.home-text .green-text {
    color: var(--secondary-color);
}


/*footer section----------------------------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    min-height: 100px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease;
}

.social-icons{
    display:flex;
}

.social-icons li{
    list-style: none;
    padding: 5%;
}

.footer-text{
    color: var(--text-primary-color);
    font-style: italic;
}

.footer-credits{
    color: var(--text-primary-color);
}

/*responsive*/
@media (max-width: 1750px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    footer {
        bottom: 0; /* Asegura que el pie de página permanezca en la parte inferior */
    }
}

@media (max-width: 1482px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 39vh;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: var(--accent-color);
        
    }

    .navbar a:hover{
        color: var(--secondary-color);
        transform: translateY(5px);
    }

    .navbar a.active{
        color: var(--primary-color);

    }

    .navbar.open{
        right: 2%;
    }

    .menu a{
        padding: 5px;
    }
}

@media(max-width: 1082px){
    footer{
        display: flex;
        transition: flex-direction 0.5s ease;
        flex-direction: column;
    }
}

@media (max-width: 742px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        margin: 5px 0;
    }
}
